<div class="row">
    <div class="col s12">
      <div class="card-panel">
        <div class="card-stacked">
          <div class="card-content">
            <p>Detalhes:</p>
            <p>#: {{ selectedBook?.id }}</p>            
            <p>Titulo: {{ selectedBook?.title }}</p>
            <p>Autor: {{ selectedBook?.author }}</p>            
          </div>
          <div class="card-action">
            <a class="waves-effect waves-light btn"
              (click)="onEdit()">
              <i class="material-icons left">mode_edit</i>Editar
            </a>
            <a class="waves-effect waves-light btn red"
              (click)="onDelete()">
              <i class="material-icons left">delete</i>Remover
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>