<h5>Login</h5>
<div class="row">

</div>
 <!-- Form Group -->
<form materealize class="col s12" [formGroup]="form" (ngSubmit)="onSubmit()">
     <!-- Username -->
    <div class="row">       
        <div class="input-field col s12" [ngClass]="applyCssError('username')">
            <input type="text" class="validate" formControlName="username" id="username" placeholder="Username"> 
            <!-- CSS Error -->
            <app-field-error-control [showError]="checkValidTouched('username')" msgError="Campo obrigatório">
            </app-field-error-control>
        </div>
    </div>
    <!-- Password -->
    <div class="row">
        
        <div class="input-field col s12" [ngClass]="applyCssError('password')">
            <div class="col-sm-12">
                <input type="password" class="form-control" formControlName="password" id="password"
                    placeholder="Senha">
                <!-- CSS Error -->
                <app-field-error-control [showError]="checkValidTouched('password')" msgError="Campo obrigatório.">
                </app-field-error-control>
            </div>
        </div>
    </div>
    <!-- Submit -->
    <div class="row">
        <div class="input-field col s12">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Entrar</button>
            </div>
        </div>
    </div>    

    <!-- Form Debug -->
    <!-- <app-form-debug [form]="form"></app-form-debug> -->
</form>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Carregando...</p>
</ngx-spinner>