<h5>{{ title }}</h5>
<div class="row card-panel" *ngIf="user">



    <form class="col s12" [formGroup]="form">
        <!-- Hidden -->
        <input id="id" name="id" type="hidden" formControlName="id" [(ngModel)]="user.id">
        <input id="token" name="token" type="hidden" formControlName="token" [(ngModel)]="user.token">

        <!-- Username -->
        <div class="row">
            <div class="input-field col s12" [ngClass]="applyCssError('username')">

                <input id="username" type="text" class="validate" formControlName="username" [(ngModel)]="user.username"
                    maxlength="150" placeholder="Nome (obrigatório)" required>

                <label for="username" class="active">Usuário</label>
            </div>
        </div>

        <!-- Password -->
        <div class="row">
            <div class="input-field col s12">
                <input id="password" type="text" class="validate" [(ngModel)]="user.password" formControlName="password"
                    maxlength="30" placeholder="Senha (obrigatório)" required>
                <label for="password" class="active">Senha</label>
            </div>
        </div>

        <!-- Email -->
        <div class="row">
            <div class="input-field col s12">
                <input id="email" type="email" class="validate" [(ngModel)]="user.email" formControlName="email"
                    maxlength="30" placeholder="nome@email.com (opcional)">
                <label for="email" class="active">Email</label>
            </div>
        </div>

        <!-- Role -->
        <div class="row">
            <div class="input-field col s12">
                <input id="role" type="text" class="validate" [(ngModel)]="user.role" formControlName="role"
                    maxlength="30">
                <label for="role" class="active">Permissão</label>
            </div>
        </div>


        <!-- Buttons -->
        <div class="row">
            <div class="card-action">
                <div class="row">
                    <div class="right-align col s9">
                        <button type="button" (click)="onSave()" class="btn btn-primary"
                            [disabled]="!form.valid">Salvar</button>
                    </div>
                    <div clas="right-align col s9">
                        <a class="waves-effect waves-light btn blue" (click)="onCancel()">Cancelar</a>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>