<h5>{{ title }}</h5>
<div class="row card-panel" *ngIf="book">

    <form class="col s12" [formGroup]="form">
        <!-- Form Group -->
        <input id="id" type="hidden" class="form-control" formControlName="id" [(ngModel)]="book.id">

        <!-- Author -->
        <div class="row">
            <div class="input-field col s12" [ngClass]="applyCssError('author')">
                <input id="username" type="text" class="validate" formControlName="author" [(ngModel)]="book.author">
                <label for="author" class="active">Autor</label>
                <!-- CSS Error -->
                <app-field-error-control [showError]="checkValidTouched('author')" msgError="Autor é obrigatório.">
                </app-field-error-control>
            </div>
        </div>

        <!-- Titulo -->
        <div class="row">
            <div class="input-field col s12" [ngClass]="applyCssError('title')">
                <input id="title" type="text" class="form-control" formControlName="title" [(ngModel)]="book.title">
                <label for="title" class="active">Titulo</label>
                <!-- CSS Error -->
                <app-field-error-control [showError]="checkValidTouched('title')" msgError="Titulo é obrigatório.">
                </app-field-error-control>
            </div>
        </div>

        <!-- Editora -->
        <div class="row">
            <div class="input-field col s12" [ngClass]="applyCssError('publishingCompany')">
                <input id="publishingCompany" type="text" class="form-control" formControlName="publishingCompany"
                    [(ngModel)]="book.publishingCompany">
                <label for="publishingCompany" class="active">Editora</label>
            </div>
        </div>

        <!-- ISBN -->
        <div class="row">
            <div class="input-field col s12" [ngClass]="applyCssError('isbn')">
                <input id="isbn" type="text" class="form-control" formControlName="isbn"
                    placeholder="ISBN 978-85-333-0227-3" [(ngModel)]="book.isbn">
                <label for="isbn" class="active">ISBN</label>
            </div>

        </div>

        <!-- Ano de Publicação -->
        <div class="row">
            <div class="input-field col s12" [ngClass]="applyCssError('publicationYear')">
                <input id="publicationYear" type="text" class="form-control" formControlName="publicationYear"
                    placeholder="Exemplo: 2015" [(ngModel)]="book.publicationYear">
                <label for="publicationYear" class="active">Ano de Publicação</label>
            </div>
        </div>
        
        <!-- Submit -->
        <div class="row">
            <div class="card-action">
                <div class="row">
                    <div class="left-align col s3">
                        <button type="button" (click)="onSave()" class="btn btn-primary"
                            [disabled]="!form.valid">Salvar</button>
                    </div>
                    <div clas="right-align col s9">
                        <a class="waves-effect waves-light btn blue" (click)="onCancel()">Cancelar</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>