<form #form="ngForm" autocomplete="off">
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-pen" [class.green-icon]="username.valid" [class.red-icon]="username.invalid && username.touched"></i>
                </div>
            </div>
            <input 
                name="username" 
                #username                
                maxlength="150" 
                class="form-control" 
                placeholder="Nome (obrigatório)" required>
        </div>                
    </div>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-pen" [class.green-icon]="password.valid" [class.red-icon]="password.invalid && password.touched"></i>
                </div>
            </div>
            <input 
                name="password" 
                #password               
                class="form-control"
                maxlength="30"
                placeholder="Senha (obrigatório)" required>
        </div>                
    </div>
    <button 
        type="button" 
        [disabled]="form.invalid" 
        (click)="login(username.value, password.value)"
        class="btn btn-primary btn-lg btn-block"><i class="fas fa-database"></i>    Entrar</button>
</form>
