<table class="striped">    
    <thead>
    <tr>      
        <th>#</th>
        <th>Nome</th>
        <th>Email</th>  
        <th>Permissão</th>            
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of this.users"  [routerLink]="[user.id]" routerLinkActive="active">        
        <td>{{ user.id }}</td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>        
        <td>{{user.role}}</td>        
        <!-- <td>
            <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(user.id)"></i>
        </td> -->
    </tr>
</tbody>
</table>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large waves-effect waves-light green" routerLink="new">
      <i class="material-icons">add</i>
    </a>
  </div>