<table class="table table-striped">    
    <thead>
    <tr>      
        <th class="fa-lg">Nome</th>
        <th class="fa-lg">Email</th>      
        <th class="fa-lg">Excluir</th>           
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of service.list">        
        <td (click)="populateForm(user)">{{user.username}}</td>
        <td (click)="populateForm(user)">{{user.email}}</td>        
        <td>
            <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(user.id)"></i>
        </td>
    </tr>
</tbody>
</table>